<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.top.androidx">

    <application>

        <activity android:name=".graffiti.SketchActivity"
            android:label="Graffiti"
            android:screenOrientation="fullSensor"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>